:local(.ListItem):not(:last-child)::after {
  content: "";
  display: block;
  margin: 1rem auto;
  border-bottom: 1px solid var(--light-transparent-black);
}

:local(.ListItem__detail) {
  color: var(--gray);
  font-size: 0.6em;
}
