:local(.NavMenu) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

:local(.NavMenu) a {
  text-decoration: none;
  color: var(--black);
}

:local(.NavMenuItem) {
  min-width: 140px;
  min-height: 140px;
  width: 15vmin;
  height: 15vmin;
  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--super-lightblue);
  border-bottom: 4px solid var(--lightblue);

  transition: transform var(--superquick) ease-in-out;
}
:local(.NavMenuItem):hover {
  transform: scale(1.05) rotateZ(-1deg);
}

@media only screen and (min-width: 920px) {
  :local(.NavMenuItem) {
    width: 20vw;
    height: 20vw;
    font-size: 2rem;
  }
}
