:local(.NavMenu) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

:local(.NavMenu) a {
  text-decoration: none;
  color: var(--black);
}

:local(.NavMenuItem) {
  min-width: 170px;
  min-height: 70px;
  width: 14vmin;
  height: 7vmin;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-transparent-white);
  border-bottom: 4px solid var(--lightblue);
  color: var(--gray);

  transition: transform var(--superquick) ease-in-out;
}
:local(.NavMenuItem):hover {
  transform: scale(1.05) rotateZ(-1deg);
}

@media only screen and (min-width: 920px) {
  :local(.NavMenu) {
    flex-direction: row;
  }

  :local(.NavMenuItem) {
    width: 20vw;
    height: 9vw;
    font-size: 2rem;
  }
}
