---
import { Icon } from "astro-icon/components";
import {
  GIGS_ICON,
  RECORDINGS_ICON,
  SOFTWARE_ICON,
  VIDEO_ICON,
} from "../constants";
import Layout from "../layouts/Layout.astro";

const pages = [
  {
    href: "/gigs",
    icon: GIGS_ICON,
    title: "Gigs",
  },
  {
    href: "/recordings",
    icon: RECORDINGS_ICON,
    title: "Recordings",
  },
  {
    href: "/video",
    icon: VIDEO_ICON,
    title: "Video",
  },
  {
    href: "/software",
    icon: SOFTWARE_ICON,
    title: "Software",
  },
];
---

<Layout title="hanshenrik.com">
  <div class="w-fit sm:my-32 md:mx-auto">
    <div class="grid gap-12 sm:grid-cols-2 sm:gap-32">
      {
        pages.map((page) => (
          <a href={page.href} class="card group">
            <div class="card-content flex items-center gap-4">
              <Icon
                name={page.icon}
                size={72}
                class="transition-transform group-hover:scale-110"
              />
              <div>
                <h2>{page.title}</h2>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
