---
import {
  DRYPP_ICON,
  GIGS_ICON,
  RECORDINGS_ICON,
  SOFTWARE_ICON,
  VIDEO_ICON,
} from "../icons";
import Layout from "../layouts/Layout.astro";

export const pages = [
  {
    href: "/gigs",
    icon: GIGS_ICON,
    image: {
      src: "/images/gigs.jpg",
    },
    imageAttribution: "Photo: foto.samfundet.no",
    textColor: "text-white",
    title: "Gigs",
  },
  {
    href: "/recordings",
    icon: RECORDINGS_ICON,
    image: {
      src: "/images/recordings.jpg",
    },
    textColor: "text-white",
    title: "Recordings",
  },
  {
    href: "/video",
    icon: VIDEO_ICON,
    image: {
      src: "/images/videos.jpg",
    },
    textColor: "text-white",
    title: "Video",
  },
  {
    href: "/software",
    icon: SOFTWARE_ICON,
    image: {
      src: "/images/software.png",
    },
    textColor: "text-black",
    title: "Software",
  },
  {
    href: "/drypp",
    icon: DRYPP_ICON,
    image: {
      src: "https://images.unsplash.com/photo-1499750310107-5fef28a66643",
    },
    imageAttribution: "",
    textColor: "text-white",
    title: "Drypp",
    hidden: true,
  },
];
---

<Layout title="Sounds and code">
  <div class="mx-auto max-w-5xl sm:my-16">
    <div class="grid gap-4 sm:grid-cols-2 sm:gap-8 md:gap-12 lg:gap-16">
      {
        pages
          .filter((page) => !page.hidden)
          .map((page) => (
            <a
              href={page.href}
              class:list={[
                "group relative aspect-video w-full px-8 py-12 md:px-24 md:py-24",
                page.textColor,
              ]}
            >
              {page.image && (
                <div class="absolute inset-0 overflow-hidden">
                  <div
                    class="h-full w-full bg-cover bg-center transition-transform duration-500 group-hover:scale-105"
                    style={`background-image: url(${page.image.src});`}
                  />
                </div>
              )}
              {page.imageAttribution && (
                <div class="absolute right-2 bottom-4 z-10 flex items-center gap-2 rounded-lg p-2 text-[10px] text-gray-400 backdrop-blur-sm">
                  {page.imageAttribution}
                </div>
              )}
              <div class="absolute bottom-4 left-4 z-10 flex items-center gap-2 rounded-lg p-2 backdrop-blur-sm">
                <h2
                  class:list={[
                    "text-shadow text-lgt md:text-2xl",
                    page.textColor,
                  ]}
                >
                  {page.title}
                </h2>
              </div>
            </a>
          ))
      }
    </div>
  </div>
</Layout>
