:local(.App) {
  display: flex;
  flex-direction: column;
  background: linear-gradient(170deg, var(--yellow) 95%, var(--teal) 5%);
  padding: 2rem;
}

@media only screen and (min-width: 920px) {
  :local(.Section) {
    padding: 0 10rem;
  }
}
