:local(.App) {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

:local(.Section) {
  padding: 0rem 0 3rem 0;
}

@media only screen and (min-width: 920px) {
  :local(.App) {
    padding: 4rem 10rem;
  }
}
