:local(.App) {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

:local(.Section) {
  padding: 1rem 0 3rem 0;
}

:local(.Section h1) {
  padding-top: 0.5rem;
  width: fit-content;
}

@media only screen and (min-width: 920px) {
  :local(.StickyHeading) {
    position: sticky;
    top: 0rem;
    z-index: 1;
    padding-top: 0;
  }
}

@media only screen and (min-width: 920px) {
  :local(.App) {
    padding: 1rem 10rem;
  }
}
