---
import Link from "./Link.astro";
---

<footer class="border-t bg-sky-700 py-6 text-white shadow-inner">
  <div class="container mx-auto">
    <address class="not-italic">
      <span>Hans Henrik Grønsleth</span><br />
      <Link href="tel:+4741662888" class="w-fit">+47 41 66 28 88</Link><br />
      <Link href="mailto:musikk@hanshenrik.com" class="w-fit"
        >musikk@hanshenrik.com</Link
      >
    </address>
  </div>
</footer>
