---
import Link from "./Link.astro";
---

<footer class="bg-sky-50 pt-12 pb-16 shadow-inner">
  <div class="container mx-auto px-4">
    <address class="not-italic">
      <span>Hans Henrik Grønsleth</span><br />
      <Link href="mailto:musikk@hanshenrik.com" class="w-fit"
        >musikk@hanshenrik.com</Link
      >
    </address>
  </div>
</footer>
