---
import { format } from "date-fns";

interface Props {
  artist: string;
  venue: string;
  date: string;
  eventDescription?: string;
}

const { artist, venue, date, eventDescription } = Astro.props;
---

<tr
  class="border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-800"
>
  <td class="py-4 px-6">
    <time
      datetime={date}
      class="text-sm text-gray-500 dark:text-gray-400 whitespace-nowrap"
      >{format(new Date(date), "dd MMM yyyy")}</time
    >
  </td>
  <td class="py-4 px-6">
    <div class="font-medium text-gray-900 dark:text-white">{artist}</div>
    <div class="text-sm text-gray-500 dark:text-gray-400">{venue}</div>
  </td>
  <td class="py-4 px-6 text-sm text-gray-500 dark:text-gray-400">
    {eventDescription}
  </td>
</tr>
