:local(.Gig__upcoming) td:first-child::before {
  content: "👉";
  display: inline-block;
  margin: 0 1.5rem 0 -3rem;
  transition: margin var(--superquick) ease-in-out;
}

:local(.Gig__upcoming):hover td:first-child::before {
  margin: 0 1.25rem 0 -2.75rem;
}
