:root {
  /* Colors */
  --white: #fffffe;
  --black: #232323;
  --super-light-transparent-black: rgba(0, 0, 0, 0.05);
  --gray: #505050;
  --yellow: #fffd7c;
  --lightyellow: #fffeb6;
  --lightblue: #269ff5;
  --teal: #9ee9f5;

  /* Durations */
  --superquick: 0.1s;
  --quick: 0.2s;
  --slow: 0.4s;
}

body {
  margin: 0;
  color: var(--black);
  background-color: var(--yellow);
  animation: color-transition 30s ease infinite;
  font-family: "Muli", sans-serif;
  font-weight: 200;
}

.svg-inline--fa {
  margin: 0 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

ul {
  padding: 0;
}

@keyframes color-transition {
  0% {
    background-color: var(--yellow);
  }
  50% {
    background-color: var(--lightyellow);
  }
  100% {
    background-color: var(--yellow);
  }
}
