---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  showRssLink?: boolean;
}

const {
  title,
  description = "hanshenrik.com / Sounds and code",
  showRssLink = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    {
      showRssLink && (
        <link
          rel="alternate"
          type="application/rss+xml"
          title="Drypp RSS Feed"
          href={new URL("rss.xml", Astro.site)}
        />
      )
    }
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} / hanshenrik.com`}</title>
    <meta name="author" content="Hans Henrik Grønsleth" />
    <meta name="description" content={description} />
    <link
      href="https://api.fontshare.com/v2/css?f[]=erode@1,2&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex min-h-screen flex-col bg-white">
    <Header />
    <main class="container mx-auto flex-1 px-4 pt-8 pb-16 md:pb-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
